In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3
import warnings
warnings.filterwarnings('ignore')

In [2]:
db="movie.db"
con=sqlite3.connect(db)
cur=con.cursor()

In [3]:
cur.execute("select * from movies")

In [4]:
movies=cur.fetchall()

In [5]:
movies=pd.DataFrame(movies,columns=['id','movie_name','year_of_release','watch_time','movie_rating','metascore','genre','votes','description','directors','Star','gross'])

In [6]:
print('Shape of Movies data :',movies.shape)
print('\n\n\n')
movies.head(10)

Shape of Movies data : (501, 12)

,id,movie_name,year_of_release,watch_time,movie_rating,metascore,genre,votes,description,directors,Star,gross
0,1,Movie Name,Year of Release,Watch Time,Movie Rating,Metascore of movie,genre,Votes,Description,Director,Star,Gross
1,2,The Dark Knight,2008,152,9,84,"['Action', ' Crime', ' Drama']",2747816,When the menace known as the Joker wreaks havo...,Christopher Nolan,"['Christian Bale', 'Heath Ledger', 'Aaron Eckh...",534.86
2,3,The Lord of the Rings: The Return of the King,2003,201,9,94,"['Action', ' Adventure', ' Drama']",1901636,Gandalf and Aragorn lead the World of Men agai...,Peter Jackson,"['Elijah Wood', 'Viggo Mortensen', 'Ian McKell...",377.85
3,4,Spider-Man: Across the Spider-Verse,2023,140,8.9,86,"['Animation', ' Action', ' Adventure']",192310,"Miles Morales catapults across the Multiverse,...","Directors:Joaquim Dos Santos, Kemp Powers, Jus...","['Shameik Moore', 'Hailee Steinfeld', 'Brian T...",0
4,5,Inception,2010,148,8.8,74,"['Action', ' Adventure', ' Sci-Fi']",2438666,A thief who steals corporate secrets through t...,Christopher Nolan,"['Leonardo DiCaprio', 'Joseph Gordon-Levitt', ...",292.58
5,6,The Lord of the Rings: The Fellowship of the Ring,2001,178,8.8,92,"['Action', ' Adventure', ' Drama']",1929939,A meek Hobbit from the Shire and eight compani...,Peter Jackson,"['Elijah Wood', 'Ian McKellen', 'Orlando Bloom...",315.54
6,7,The Lord of the Rings: The Two Towers,2002,179,8.8,87,"['Action', ' Adventure', ' Drama']",1716048,While Frodo and Sam edge closer to Mordor with...,Peter Jackson,"['Elijah Wood', 'Ian McKellen', 'Viggo Mortens...",342.55
7,8,The Matrix,1999,136,8.7,73,"['Action', ' Sci-Fi']",1973841,When a beautiful stranger leads computer hacke...,"Directors:Lana Wachowski, Lilly Wachowski","['Keanu Reeves', 'Laurence Fishburne', 'Carrie...",171.48
8,9,Star Wars: Episode V - The Empire Strikes Back,1980,124,8.7,82,"['Action', ' Adventure', ' Fantasy']",1331561,After the Rebels are overpowered by the Empire...,Irvin Kershner,"['Mark Hamill', 'Harrison Ford', 'Carrie Fishe...",290.48
9,10,Soorarai Pottru,2020,153,8.7,0,"['Action', ' Drama']",120125,"Nedumaaran Rajangam ""Maara"" sets out to make t...",Sudha Kongara,"['Suriya', 'Paresh Rawal', 'Aparna Balamurali'...",0

In [7]:
movies=movies.drop(movies.index[0])

In [8]:
movies.head()

,id,movie_name,year_of_release,watch_time,movie_rating,metascore,genre,votes,description,directors,Star,gross
1,2,The Dark Knight,2008,152,9,84,"['Action', ' Crime', ' Drama']",2747816,When the menace known as the Joker wreaks havo...,Christopher Nolan,"['Christian Bale', 'Heath Ledger', 'Aaron Eckh...",534.86
2,3,The Lord of the Rings: The Return of the King,2003,201,9,94,"['Action', ' Adventure', ' Drama']",1901636,Gandalf and Aragorn lead the World of Men agai...,Peter Jackson,"['Elijah Wood', 'Viggo Mortensen', 'Ian McKell...",377.85
3,4,Spider-Man: Across the Spider-Verse,2023,140,8.9,86,"['Animation', ' Action', ' Adventure']",192310,"Miles Morales catapults across the Multiverse,...","Directors:Joaquim Dos Santos, Kemp Powers, Jus...","['Shameik Moore', 'Hailee Steinfeld', 'Brian T...",0
4,5,Inception,2010,148,8.8,74,"['Action', ' Adventure', ' Sci-Fi']",2438666,A thief who steals corporate secrets through t...,Christopher Nolan,"['Leonardo DiCaprio', 'Joseph Gordon-Levitt', ...",292.58
5,6,The Lord of the Rings: The Fellowship of the Ring,2001,178,8.8,92,"['Action', ' Adventure', ' Drama']",1929939,A meek Hobbit from the Shire and eight compani...,Peter Jackson,"['Elijah Wood', 'Ian McKellen', 'Orlando Bloom...",315.54

In [9]:
movies.drop(['id'],axis=1, inplace=True)

In [10]:
movies.head()

,movie_name,year_of_release,watch_time,movie_rating,metascore,genre,votes,description,directors,Star,gross
1,The Dark Knight,2008,152,9,84,"['Action', ' Crime', ' Drama']",2747816,When the menace known as the Joker wreaks havo...,Christopher Nolan,"['Christian Bale', 'Heath Ledger', 'Aaron Eckh...",534.86
2,The Lord of the Rings: The Return of the King,2003,201,9,94,"['Action', ' Adventure', ' Drama']",1901636,Gandalf and Aragorn lead the World of Men agai...,Peter Jackson,"['Elijah Wood', 'Viggo Mortensen', 'Ian McKell...",377.85
3,Spider-Man: Across the Spider-Verse,2023,140,8.9,86,"['Animation', ' Action', ' Adventure']",192310,"Miles Morales catapults across the Multiverse,...","Directors:Joaquim Dos Santos, Kemp Powers, Jus...","['Shameik Moore', 'Hailee Steinfeld', 'Brian T...",0
4,Inception,2010,148,8.8,74,"['Action', ' Adventure', ' Sci-Fi']",2438666,A thief who steals corporate secrets through t...,Christopher Nolan,"['Leonardo DiCaprio', 'Joseph Gordon-Levitt', ...",292.58
5,The Lord of the Rings: The Fellowship of the Ring,2001,178,8.8,92,"['Action', ' Adventure', ' Drama']",1929939,A meek Hobbit from the Shire and eight compani...,Peter Jackson,"['Elijah Wood', 'Ian McKellen', 'Orlando Bloom...",315.54

In [11]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 1 to 500
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   movie_name       500 non-null    object
 1   year_of_release  500 non-null    object
 2   watch_time       500 non-null    object
 3   movie_rating     500 non-null    object
 4   metascore        500 non-null    object
 5   genre            500 non-null    object
 6   votes            500 non-null    object
 7   description      500 non-null    object
 8   directors        500 non-null    object
 9   Star             500 non-null    object
 10  gross            500 non-null    object
dtypes: object(11)
memory usage: 43.1+ KB

In [12]:
movies.shape

(500, 11)

In [13]:
db="director.db"
con=sqlite3.connect(db)
cur=con.cursor()
directors=cur.fetchall()

In [14]:
cur.execute("select * from directors")

In [15]:
directors=pd.DataFrame(directors,columns=['id','director'])